doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pikaday.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//unpkg.com/vue')
    script(src='//unpkg.com/vue-resource')
    script(src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/date-fns/1.28.5/date_fns.min.js")
    script(src='/javascripts/pikaday.js')
  body
    block content
  script(src='/javascripts/app.js')
